<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/AdminPanel.css">
        <link rel="stylesheet" href="/stylesheets/all.min.css">
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        
    </head>
    <BODy >
      
      <div class="all">
        <div class="TextWelcom">
           <h1 class="titre">TeslaTech</h1>
           <h2 class="description">Bienvenue cher CMS ,la meilleur application 
           de gestion de stocke fournit par TeslaTech.</h2>
           <div class="informations">
               <a href="https://www.facebook.com/TeslaTech-105826648644356" target="_blank">
                 <i class="fab fa-facebook-square fb mg"> TeslaTech</i> 
               </a>
               <a href="https://www.instagram.com/teslatechstore/?hl=fr"target="_blank" >
                 <i class="fab fa-instagram mg"> teslatechstore</i> 
               </a>
               <i class="fas fa-mobile-alt mg"> 0541795301</i>
               <i class="fas fa-map-marker-alt mg"> Bordj Bou Arreridj</i>
               <i class="fas fa-envelope mg"> layadi.f@yahoo.com</i>
           </div>
        </div>
          form(method="post" action="/user/login")
             <div class="contenu">
                 
                   <h2 class="sign">Sign In</h2>
                   <i class="fas fa-sign-in-alt"></i>
                   <div class="username ">
                     <i class="fas fa-user"></i>
                     <input type="text" placeholder="username" name="name" id="username">
                   </div>
                   <div class="password">
                       <i class="fas fa-lock"></i>
                       <input type="password" placeholder="mot de passe" name="password" id="password">
                   </div>
                   <button onclick="login" type="submit" class="btn-log">lOGIN</button>
                   
                 
             
             </div>
      </div>

    </BODy>
</html>
