doctype html
html
   head  
     link(rel='stylesheet', href='/stylesheets/AdminPanel.css')
     link(rel='stylesheet', href='/stylesheets/all.min.css')
     link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css')
     
   
   

   body
      div(class="all")
         <div class="TextWelcom">
            <h1 class="titre">TeslaTech</h1>
            <div class="informations">
               <a href="https://www.facebook.com/TeslaTech-105826648644356" target="_blank">
                 <i class="fab fa-facebook-square fb mg"> TeslaTech</i> 
               </a>
               <a href="https://www.instagram.com/teslatechstore/?hl=fr"target="_blank" >
                 <i class="fab fa-instagram mg"> teslatechstore</i> 
               </a>
               <i class="fas fa-mobile-alt mg"> 0541795301</i>
               <i class="fas fa-map-marker-alt mg"> Bordj Bou Arreridj</i>
               <i class="fas fa-envelope mg"> layadi.f@yahoo.com</i>
           </div>